
/*
@media (prefers-color-scheme: dark) {
  .access-nyc {
    --dh-color-white: var(--dh-color-white-t1);
    --dh-color-primary: #118DF0;
    --dh-color-background: #112E51;
    --dh-color-background-t1: #1d3655;
    --dh-color-text: var(--dh-color-white);
  }
} */