doctype html
html(dir='ltr' lang='en')
  head
    include ../partials/head.pug

  body(class='')
    include ../partials/header.pug

    main(class='py-8 px-3 max-w-desktop mx-auto')
      != content

    include ../partials/footer.pug
    include ../partials/sprite.pug