doctype html
html
  head
    include ../partials/head.pug

  body(class='')
    include ../partials/header.pug

    main
      != content

    include ../partials/footer.pug
    include ../partials/sprite.pug