doctype html
html(dir='ltr' lang='en')
  head
    meta(name='robots' content='noindex')

    include /partials/head.pug

  body(class='relative')
    nav(class='py-2 px-2 mx-auto max-w-large sticky top-0 flex justify-between bg-t0 print:hidden')
      div(class='inline-flex items-center' aria-label='Breadcrumb')
        a(href='/')
          | Home

        <span class="px-1">/</span>

        a(href='/letters')
          | Letters

      button(class='hidden btn btn-primary tablet:flex' onclick='window.print()' title='To save as a PDF, click this link then select "Save as PDF" in the print dialog.')
        svg(class='icon mie-1' aria-hidden='true')
          use(xlink:href='#tabler-print')

        | Save as PDF

    - var classname = ' tablet:grid print:grid grid-cols-12 gap-3'

    main(class='py-8 px-3 print:p-0 mx-auto max-w-large' + classname)
      aside(class='col-span-4 mb-6')
        h2 Devon Hirth

        hr

        ul(class='list-none p-0 mt-4')
          li 431 16th St. Apt. 3L <br> Brooklyn, NY 11215
          li <a href="mailto:devonhirth@gmail.com" target="_blank" rel="noopener nofollow">devonhirth@gmail.com</a>
          li <a href="tel:3475068810" target="_blank" rel="noopener nofollow">(347) 506–8810</a>

      article(class='col-span-8')
        != content

    include /partials/footer.pug

    include /partials/sprite.pug