doctype html
html(dir='ltr' lang='en')
  head
    include /../../../_includes/partials/head.pug

  body(class='relative')
    nav(class='py-2 px-3 mx-auto max-w-large sticky top-0 flex justify-between bg-t0 print:hidden')
      a(href='#' class='flex items-center')
        svg(class='icon mie-1' aria-hidden='true')
          use(xlink:href='#tabler-chevron-up')

        | Back to top

      | &nbsp; &nbsp; &nbsp;

      a(href='#' class='hidden tablet:flex items-center' onclick='window.print()' title='To save as a PDF, select "Save as PDF" in the print dialog.')
        svg(class='icon mie-1' aria-hidden='true')
          use(xlink:href='#tabler-print')

        | Click and select "Save as PDF" in the dialog

    main(class='py-8 px-3 print:p-0 mx-auto max-w-large tablet:grid print:grid grid-cols-12 gap-3')
      aside(class='col-span-4 mb-6')
        h2 Devon Hirth

        hr

        //- h3(class='h5 primary mb-1') Contact

        ul(class='list-none p-0 mt-4')
          li Portfolio <a href="https://devonhirth.com/portfolio">devonhirth.com</a>
          li Freelance Site <a href="https://expdesign.io" target="_blank" rel="noopener nofollow">expdesign.io</a>
          li LinkedIn.com <a href="https://www.linkedin.com/in/devonhirth/" target="_blank" rel="noopener nofollow">/in/devonhirth</a>
          li GitHub.com <a href="https://github.com/devowhippit" target="_blank" rel="noopener nofollow">/devowhippit</a>
          li Behance.net <a href="https://www.behance.net/devonhirth" target="_blank" rel="noopener nofollow">/devonhirth</a>
          li <a href="mailto:devonhirth@gmail.com" target="_blank" rel="noopener nofollow">devonhirth@gmail.com</a>
          li <a href="tel:3475068810" target="_blank" rel="noopener nofollow">(347) 506–8810</a>

        h3(class='h5 primary mb-1') Proficiencies

        h4(class='h6 primary my-2') Skills

        ul(class='list-none p-0')
          li User Research
          li User Experience (UX) Design
          li Live Prototyping
          li Brand Identity
          li User Interface (UI) Design
          li Front-end Development
          li Data Visualization
          li Technical Documentation
          li Scrum

        h4(class='h6 primary mb-2') Programming

        ul(class='list-none p-0')
          li JavaScript; ES6, Node.js, NPM, Vue.js
          li PostCSS, SASS
          li Git, GitHub
          li PHP
          li Working knowledge of Deno, Svelte, React, Angular, D3.js
          li Working knowledge of Ruby, Python

        h4(class='h6 primary mb-2') Design Tools

        ul(class='list-none p-0')
          li Figma
          //- li HTML + CSS
          li Adobe Illustrator, Photoshop, InDesign

        br

        h3(class='h5 primary mb-2') Education

        ul(class='list-none p-0')
          li <b>+Acumen</b> – Human-Centered Design for Social Innovation, 2014
          li <b>General Assembly</b> – Data Science, 2013
          li <b>Maryville University of Saint Louis</b> – BFA, Graphic Design, 2006 – 2009

      article(class='col-span-8')
        != content

    include /partials/footer.pug

    include /../../../_includes/partials/sprite.pug