doctype html
html
  head
    include ../partials/head.pug

  body(class='relative')
    nav(class='py-2 px-3 max-w-desktop mx-auto sticky top-0 flex justify-between bg-t0 print:hidden')
      a(href='#' class='flex items-center')
        svg(class='icon mie-1' aria-hidden='true')
          use(xlink:href='#tabler-chevron-up')

        | Back to top

      | &nbsp; &nbsp; &nbsp;

      a(href='#' class='flex items-center' onclick='window.print()' title='To save as a PDF, select "Save as PDF" in the print dialog.')
        svg(class='icon mie-1' aria-hidden='true')
          use(xlink:href='#tabler-print')

        | Save PDF

    main(class='py-8 px-3 max-w-desktop mx-auto grid grid-cols-12 gap-3')
      aside(class='col-span-4')
        h2 Devon Hirth

        hr

        h3(class='h5 primary mb-1') Contact

        ul(class='list-none p-0')
          li <a href="mailto:devonhirth@gmail.com">devonhirth@gmail.com</a>
          li <a href="tel:3475068810">(347) 506–8810</a>

        h3(class='h5 primary mb-1') Proficiencies

        h4(class='h6 primary my-2') Skills

        ul(class='list-none p-0')
          li User Research
          li User Experience Design
          li Live Prototyping
          li Brand Identity
          li User Interface Design
          li Front-end Development
          li Data Visualization
          li Technical Documentation
          li Scrum

        h4(class='h6 primary mb-2') Programming

        ul(class='list-none p-0')
          li JavaScript; ES6, Node.js, NPM, Vue.js
          li PostCSS, SASS
          li Git, GitHub
          li PHP
          li Working knowledge of Deno, Svelte, React, Angular, D3.js
          li Working knowledge of Ruby, Python

        h4(class='h6 primary mb-2') Design Tools

        ul(class='list-none p-0')
          li Figma
          li HTML + CSS
          li Adobe Illustrator
          li Adobe Photoshop

        h3(class='h5 primary mb-2') Education

        ul(class='list-none p-0')
          li <b>+Acumen</b> – Human-Centered Design for Social Innovation, 2014
          li <b>General Assembly</b> – Data Science, 2013
          li <b>Maryville University of Saint Louis</b> – BFA, Graphic Design, 2006 – 2009

      article(class='col-span-8')
        != content

    include ../partials/footer.pug
    include ../partials/sprite.pug