---
title: 'Devon Hirth'
layout: './../../../_includes/layouts/full.pug'
---

section(id='introduction' class='px-5 tablet:px-8 max-w-xlarge mx-auto pb-8 mb-8')
  blockquote A designer from Saint Louis living in Brooklyn. My personal practice is named <a href='https://expdesign.io'>exp. design</a>. Currently, I'm working for the <a href='http://nyc.gov/opportunity'>NYC Mayor's Office for Economic Opportunity</a>

section(id='professional-references' class='px-5 tablet:px-8 max-w-xlarge mx-auto pb-8 mb-8')
  a(class='btn h-80vh w-full py-8 mb-8 justify-center border-4' href='/resume')
    svg(class='icon w-5 h-5 mie-1' aria-hidden='true')
      use(xlink:href='#tabler-file-text')

    span(class='h3 primary font-normal m-0')
      | View my resume

  a(class='btn h-80vh w-full py-8 mb-8 justify-center border-4' href='/portfolio')
    svg(class='icon w-5 h-5 mie-1' aria-hidden='true')
      use(xlink:href='#tabler-folders')

    span(class='h3 primary font-normal m-0')
      | Browse my portfolio

  a(class='btn h-80vh w-full py-8 mb-8 justify-center border-4' href='https://expdesign.io')
    span(class='text-center')
      span(class='h3 primary font-normal m-0 justify-center') Go to

      br

      span(class='sr-only')
        | exp. design

      svg(aria-hidden='true' class='block' style="width: 220px; height: 41px;")
        use(xlink:href='#logo-exp-design')