@import url('../../pm/styles/font-face-cormorant.css');
@import url('../../pm/styles/font-face-inter.css');
@import url('../../pm/styles/font-face-jetbrains-mono.css');

@import url('../../pm/tokens.css');

:root {
  /**
   * Color
   */

  --dh-color-green: #37dc90;
  --dh-color-green-s1: #1E7C1E;

  --dh-color-purple: #8F4FF8;

  --dh-color-black: #1E1E25;
  --dh-color-black-t1: #292932;

  --dh-color-white: #EEEEFF;
  --dh-color-white-s1: #E7E7FF;

  --dh-color-forest: #071C07;
  --dh-color-forest-t1: #0b2C0B;

  --dh-color-primary: var(--dh-color-green-s1);

  --dh-color-text: var(--dh-color-forest);
  --dh-color-background: var(--dh-color-white);
  --dh-color-background-t1: var(--dh-color-white-s1);
  --dh-color-hyperlinks: var(--dh-color-primary);
  --dh-color-focus: var(--dh-color-primary);

  /**
   * Typography
   */

   --dh-font-webkit-smoothing: auto;
   --dh-font-moz-smoothing: auto;

  --dh-font-family-primary: 'Inter var', sans-serif;
  --dh-font-weight-primary-normal: 400;
  --dh-font-weight-primary-bold: 700;
  /* https://rsms.me/inter/lab/ */
  --dh-font-features-primary: 'case' 0, 'cpsp', 'dlig' 0, 'frac', 'dnom' 0, 'numr' 0, 'salt' 0, 'subs' 0, 'sups' 0, 'tnum' 0, 'zero', 'ss01' 0, 'ss02', 'ss03' 0, 'ss04' 0, 'cv01', 'cv02', 'cv03', 'cv04', 'cv05' 0, 'cv06', 'cv07' 0, 'cv08' 0, 'cv09', 'cv10', 'cv11' 0, 'calt' 0, 'ccmp', 'kern' 0;
  /* --dh-line-height-primary: 1.8; */

  --dh-font-family-secondary: 'Cormorant Garamond', serif;
  --dh-font-weight-secondary-normal: 400;
  --dh-font-weight-secondary-bold: 700;
  --dh-font-features-secondary: normal;
  /* --dh-line-height-secondary: 1.2; */

  --dh-font-family-mono: 'JetBrains Mono', monospace;

  --dh-font-family: var(--dh-font-family-primary);
  --dh-font-features: var(--dh-font-features-primary);

  --dh-font-family-headings: var(--dh-font-family-primary);
  --dh-font-weight-headings: var(--dh-font-weight-bold);

  --dh-font-family-blockquote: var(--dh-font-family-secondary);

  /**
   * Inputs (Text, Select, Options)
   */

  --dh-input-font-family: var(--dh-font-family-primary);
  --dh-input-background: var(--dh-color-background);

  /**
   * Buttons
   */

  --dh-button-color: var(--dh-color-primary);
  --dh-button-font-weight: var(--dh-font-weight-primary-bold);
  --dh-button-background: var(--dh-color-background);
  --dh-button-border: var(--dh-color-primary);

  --dh-button-primary-color: var(--dh-color-background);
  --dh-button-primary-background: var(--dh-color-primary);
  --dh-button-primary-border: var(--dh-color-primary);

  --dh-button-color-hover: var(--dh-color-background);
  --dh-button-background-hover: var(--dh-color-text);

  /**
   * Hyperlinks
   */

  --dh-font-weight-hyperlinks: bold;
}

/**
 * Dark Mode
 */

@media (prefers-color-scheme: dark) {
  :root {
    --dh-color-white: var(--dh-color-white-t1);
    --dh-color-primary: var(--dh-color-green);

    --dh-color-background: var(--dh-color-forest);
    --dh-color-background-t1: var(--dh-color-forest-t1);
    --dh-color-text: var(--dh-color-white-s1);

    --dh-font-webkit-smoothing: antialiased;
    --dh-font-moz-smoothing: grayscale;
  }
}
