<svg class="hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
  <symbol id="select-graphic" viewBox="0 0 24 24">
    <path d="M5 9L12 2L19 9" fill="none" stroke="currentColor" />
    <path d="M19 15L12 22L5 15" fill="none" stroke="currentColor" />
  </symbol>
  <symbol id="radio-graphic" viewBox="0 0 24 24">
    <circle cx="12" cy="12" r="11" fill="none" stroke="currentColor" />
    <circle cx="12" cy="12" r="8" stroke="none" />
  </symbol>
  <symbol id="checkbox-graphic" viewBox="0 0 24 24">
    <rect x="3" y="3" width="18" height="18" stroke="currentColor" stroke-dasharray="none" />
    <path d="M6 12L10 16L18 8" fill="none" stroke-dasharray="none" />
  </symbol>
  <symbol id="github" viewBox="0 0 43 40">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5234 -2.43669e-07C10.1529 -2.43669e-07 0.933777 9.18084 0.933777 20.5068C0.933777 29.5668 6.83333 37.2521 15.0159 39.9649C16.0461 40.1525 16.4215 39.5193 16.4215 38.9755C16.4215 38.4895 16.4038 37.1992 16.3937 35.4884C10.6661 36.7271 9.45761 32.7391 9.45761 32.7391C8.52091 30.3712 7.17085 29.7405 7.17085 29.7405C5.30124 28.4678 7.31243 28.493 7.31243 28.493C9.37923 28.639 10.4664 30.6066 10.4664 30.6066C12.3031 33.7399 15.2864 32.8348 16.4595 32.3111C16.6465 30.9855 17.1775 30.0816 17.7665 29.5693C13.1943 29.0519 8.38691 27.292 8.38691 19.4342C8.38691 17.196 9.18962 15.3656 10.5068 13.9318C10.2944 13.4131 9.58781 11.3285 10.7078 8.50484C10.7078 8.50484 12.4371 7.95346 16.371 10.6071C18.013 10.1527 19.7752 9.92483 21.526 9.91727C23.2742 9.92483 25.0364 10.1527 26.681 10.6071C30.6123 7.95346 32.3378 8.50484 32.3378 8.50484C33.4616 11.3285 32.755 13.4131 32.5426 13.9318C33.8623 15.3656 34.66 17.196 34.66 19.4342C34.66 27.3122 29.845 29.0456 25.2576 29.5529C25.9971 30.1861 26.6557 31.4374 26.6557 33.3509C26.6557 36.0914 26.6304 38.3032 26.6304 38.9755C26.6304 39.5243 27.0008 40.1626 28.0462 39.9624C36.2224 37.2445 42.1169 29.5642 42.1169 20.5068C42.1169 9.18084 32.8966 -2.43669e-07 21.5234 -2.43669e-07Z" fill="currentColor"/>
  </symbol>
  <symbol id="exp-design" viewBox="0 0 40 41">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M40 20.114C40 31.1597 31.0457 40.114 20 40.114C8.9543 40.114 0 31.1597 0 20.114C0 9.06832 8.9543 0.114014 20 0.114014C31.0457 0.114014 40 9.06832 40 20.114ZM20.2042 20.2787L22.7454 17.7376C22.9826 17.5003 22.9826 17.1144 22.7454 16.877L22.1098 16.2416C21.8808 16.0124 21.4784 16.0124 21.2494 16.2416L18.7082 18.7828L16.167 16.2416C15.938 16.0124 15.5356 16.0124 15.3066 16.2416L14.671 16.877C14.4338 17.1144 14.4338 17.5003 14.671 17.7376L17.2122 20.2787L14.671 22.8199C14.4338 23.0572 14.4338 23.4431 14.671 23.6804L15.3066 24.3159C15.4211 24.4305 15.5739 24.4935 15.7368 24.4935C15.8997 24.4935 16.0525 24.4305 16.167 24.3159L18.7082 21.7747L21.2494 24.3159C21.3639 24.4305 21.5167 24.4935 21.6796 24.4935C21.8425 24.4935 21.9953 24.4305 22.1098 24.3159L22.7454 23.6804C22.9826 23.4431 22.9826 23.0572 22.7454 22.8199L20.2042 20.2787ZM30.8432 20.388V20.1523V18.2371C30.8432 17.7147 30.1053 17.1075 29.1539 17.1075C28.4141 17.1075 27.417 17.6069 26.8162 17.9662V22.5745C27.4234 22.9389 28.4112 23.4328 29.1539 23.4328C30.1053 23.4328 30.8432 22.8256 30.8432 22.3033V20.388ZM25.2967 16.6566C25.5092 16.5057 27.4236 15.1825 29.1539 15.1825C31.113 15.1825 32.7682 16.5813 32.7682 18.2371V20.1523V20.388V22.3033C32.7682 23.959 31.113 25.3578 29.1539 25.3578C28.3515 25.3578 27.5097 25.0732 26.8162 24.7529V27.6855H24.8912V16.9575L25.2967 16.6566ZM35.0597 23.1349C34.4461 23.1349 33.9487 23.6321 33.9487 24.2455C33.9487 24.8589 34.4461 25.3561 35.0597 25.3561C35.6732 25.3561 36.1706 24.8589 36.1706 24.2455C36.1706 23.6321 35.6732 23.1349 35.0597 23.1349ZM8.73602 15.204H9.38247C11.3363 15.204 12.987 16.599 12.987 18.2501V19.2741C12.987 19.6879 12.7218 20.0551 12.3291 20.1853L7.05135 21.9345V22.3052C7.05135 22.7957 7.70385 23.3612 8.57223 23.4256L8.73602 23.4355C9.39842 23.4355 10.0196 23.2447 10.504 23.0602C10.504 23.0602 11.5112 22.6459 11.518 22.6413L12.2563 24.4192L11.4439 24.7511C10.7988 25.0218 9.9238 25.316 8.94971 25.3514H8.73602C6.78224 25.3514 5.1316 23.9564 5.1316 22.3052V20.3952V20.1602V18.2501C5.1316 16.599 6.78224 15.204 8.73602 15.204ZM7.05135 19.9121L11.0672 18.581V18.2501C11.0672 17.7292 10.3313 17.1238 9.38247 17.1238H8.73602C7.78727 17.1238 7.05135 17.7292 7.05135 18.2501V19.9121Z" fill="currentColor"/>
  </symbol>
  <symbol id="linkedin" viewBox="0 0 41 40">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.966888 2.86535C0.966888 1.28329 2.29026 0 3.92281 0H38.011C39.6435 0 40.9669 1.28329 40.9669 2.86535V37.1346C40.9669 38.7172 39.6435 40 38.011 40H3.92281C2.29026 40 0.966888 38.7172 0.966888 37.1346V2.86535ZM13.0921 33.4842V15.4219H7.05047V33.4842H13.0921ZM10.0713 12.9558C12.1781 12.9558 13.4894 11.5689 13.4894 9.83554C13.4502 8.0632 12.1781 6.71471 10.1112 6.71471C8.04457 6.71471 6.69332 8.0632 6.69332 9.83554C6.69332 11.5689 8.00438 12.9558 10.0319 12.9558H10.0711H10.0713ZM22.4767 33.4842H16.4353C16.4353 33.4842 16.5146 17.1168 16.4353 15.4219H22.4769V17.9792C22.4633 18.0001 22.4498 18.0208 22.4366 18.0414H22.4769V17.9792C23.2798 16.7484 24.7168 14.9981 27.9217 14.9981C31.8966 14.9981 34.8772 17.5796 34.8772 23.1275V33.4842H28.8361V23.8213C28.8361 21.3932 27.9616 19.7368 25.7754 19.7368C24.1064 19.7368 23.1123 20.8539 22.6755 21.9324C22.516 22.3183 22.4767 22.8576 22.4767 23.3975V33.4842Z" fill="currentColor"/>
  </symbol>

  <symbol id="tabler-external-link" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" />
    <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5" />
    <line x1="10" y1="14" x2="20" y2="4" />
    <polyline points="15 4 20 4 20 9" />
  </symbol>

  <symbol id="tabler-hash" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <line x1="5" y1="9" x2="19" y2="9" />
    <line x1="5" y1="15" x2="19" y2="15" />
    <line x1="11" y1="4" x2="7" y2="20" />
    <line x1="17" y1="4" x2="13" y2="20" />
  </symbol>

  <svg id="tabler-folder" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2" />
  </svg>

  <svg id="tabler-folders" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M9 4h3l2 2h5a2 2 0 0 1 2 2v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
    <path d="M17 17v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h2" />
  </svg>

  <symbol id="tabler-print" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
    <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
    <rect x="7" y="13" width="10" height="8" rx="2" />
  </symbol>

  <svg id="tabler-chevron-up" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <polyline points="6 15 12 9 18 15" />
  </svg>

  <symbol id="tabler-figma" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <circle cx="15" cy="12" r="3" />
    <rect x="6" y="3" width="12" height="6" rx="3" />
    <path d="M9 9a3 3 0 0 0 0 6h3m-3 0a3 3 0 1 0 3 3v-15" />
  </symbol>

  <symbol id="tabler-github" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
  </symbol>

  <symbol id="tabler-file-text" viewBox="0 0 24 24">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
    <line x1="9" y1="9" x2="10" y2="9" />
    <line x1="9" y1="13" x2="15" y2="13" />
    <line x1="9" y1="17" x2="15" y2="17" />
  </symbol>
</svg>